<!DOCTYPE html>
<html>
<head>
<title>Sudoku</title>
<meta charset="UTF-8">
<link href="<%= url("css/style.css")%>" rel="stylesheet" type="text/css">
</head>
<body>

      <% if not @solved %>
        <h1 style="text-align:center;">Oh No!!! you have <span style="color: rgb(200, 0, 45);">incorrect</span> values</h1>
      <% end %>

      <% if @finishPlease %>
        <h1 style="text-align:center;">Please... finish game correctly, you have some <span style="color: rgb(200, 0, 45);">errors</span></h1>
      <% end %>

        <div style="height:60%; width:50%; margin:25%; margin-top:3%;">
            <form action="/generar" method="post">
                <table style="border:5px solid grey;">
                  <% for x in 0..8 %>
                        <tr>
                            <% for y in 0..8 %>
                                <td class="sudoku" <% if (y==2 or y==5) and (x==2 or x==5) %> style="border-right:solid grey; border-bottom:solid grey;" <%end%><% if y==2 or y==5 %> style="border-right:solid grey;" <%end%> <% if x==2 or x==5 %> style="border-bottom:solid grey;" <%end%> >
                                <% if @sudokutable[x][y].to_i != 0 %>
                                    <input type="number" name="cell[]" class="sudokuHint" style="max-width:inherit" value=<%= @sudokutable[x][y] %> readonly>
                                <% else %>
                                    <input type="number" name="cell[]" <% if @booleantable[x][y] or @currenttable[x][y]==0%> class="sudokuInput" <% else %> class="sudokuInvalid" <%end%> style="max-width:inherit" <% if @currenttable[x][y].to_i != 0 %> value=<%= @currenttable[x][y] %> <% end %>>
                                <% end %>
                                </td>
                            <% end %>
                        </tr>
                    <%end%>
                </table>
                <br>
                <input type="submit" class="menu" value="Check" name="pressed">
                <input type="submit" class="menu" value="Finish" name="pressed">
            </form>           
            <script type="text/javascript" src="<%= url("javascript/modal_and_accordion.js")%>"></script>
            <button id="play" class="menu" onClick="accordion()">Yield</button>
            <div class="panel">            
                <form action="/yield" method="get">
                    <h4 style="text-align:center"> Do you really want to surrender?</h4>
                    <input class="mainmenu"  type="submit" value="Yes, show me the answer"></input>
                    <button id="play" class="mainmenu" onClick="accordion()">No, I'll keep trying</button>
                </form>                
            </div>
            <button class="menu" onClick="modal()">Rules</button>
        </div>       
        <div id="myModal" class="modal">        
            <div class="modal-content">
                <div class="modal-header">
                <span class="close" onClick="modalClose()">X</span>
                <h2>Rules</h2>
                </div>                
                <div class="modal-body">
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">1.</span> Sudoku is a 9x9 puzzle grid made up of nine 3x3 regions. Each region, row, and column contains nine cells each.</h3>
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">2.</span> Cells can only contain digits form 1 to 9.</h3>
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">3.</span> When you start a game, some cells are already filled, these are called hints and cannot be changed.</h3>
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">4.</span> Each digit must be found once and only once per line.</h3>
                    <center><img src="<%= url("images/row.jpg")%>"></center>
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">5.</span> Each digit must be found once and only once per column.</h3>
                    <center><img src="<%= url("images/column.jpg")%>"></center>
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">6.</span> And each digit must be found once and only once per region.</h3>
                    <center><img src="<%= url("images/region.jpg")%>"></center>
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">7.</span> A sudoku is considered to be solved correctly when its 81 cells are filled and the other rules have been followed</h3>
                    <h3 style="text-align: center"> <span style="color: rgb(200, 0, 45)">8.</span> A good sudoku puzzle has only one solution.</h3>
                </div>
            </div>      
        </div>
</body>
</html>
